<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Send</title>
    <link rel="stylesheet" type="text/css" href="Send.css">
  </head>
  <body>
    <div class="previous">
      <a href="Home.html" class="button"><< Back</a>
    </div>
    <div class="send">
        <h1>Send File(s)</h1>
        <div class "upload">
          <form name="sendform">
            <input type="file" id="myFile" name="filename">
            <input type="submit" value="Send">
          </form>
        </div>
      <div class="logo">
          <img src="{% static 'images/Logo.png' %}" alt="#">
      </div>
    </div>
  </body>
</html>
